<div name="footerbox">
    <br>
    <h2>Links</h2>
    <p><a href="{% url 'timesheets:index' %}">  Timesheet Entry  </a></p>
    <p><a href="{% url 'timesheets:report' %}">  Current Month Report  </a></p>
    <p><a href="{% url 'timesheets:adhocs' %}">  Adhoc Task List  </a></p>
    <p><a href="{% url 'timesheets:apps' %}">  App List  </a></p>
    <p><a href="{% url 'timesheets:employees' %}">  Employee List  </a></p>
    <p><a href="{% url 'timesheets:defects' %}">  Defect List  </a></p>
    <p><a href="{% url 'timesheets:tasks' %}">  Task List  </a></p>
</div>