<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Time Entry</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   </head>
    <body>
        <div class="container-fluid" name="title-box">
            <div class="container">
                <h1>Time Entry</h1>
            </div>
        </div>
        {% include 'timesheets/navbar.html' %}
        <div class="container-fluid" name="body-box">
            <div class="container" title="form">
                <form class="form-horizontal" method="post">{% csrf_token %}
                    <fieldset>
                        <legend>{{ title }}</legend>
                        {% for field in form %}
                            <div class="control-group row">
                                <label class="control-label col-sm-1">{{ field.label }}</label>
                                <div class="controls col-sm-5">{{ field }}</div>
                            </div>
                        {% endfor %}
                    </fieldset>
                        {% if form.non_field_errors %}
                            {% for error in  form.non_field_errors %}
                                <div class="error row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5 alert alert-warning">{{ error }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    <div class="form-actions row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>