<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Time Entry</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   </head>
    <body>
        <div class="container-fluid" name="title-box">
            <div class="container">
                <h1>Time Entry</h1>
            </div>
        </div>
        {% include 'timesheets/navbar.html' %}
        <div class="container-fluid" name="body-box">
            <div class="container" title="form">
                <form action="" method="post">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->
                    {% for field in form %}
                        <div class="row">
                            <div class="col-sm-1" name="label">
                                {{ field.label_tag }}
                            </div>
                            <div class="col-sm-5" name="input">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if form.errors %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="alert alert-info" title="error">{{ form.non_field_errors }}</div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-1">
                            <input type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </body>
</html>