<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Defects List</title>
    </head>
    <body>
        <h1>Defects Currently Supported</h1>
        {% if defect_list %}
            {% for defect in defect_list %}
                <p><a href="{% url 'timesheets:defect' defect.id %}">{{ defect }}</a></p>
            {% endfor %}
        {% else %}
            <p>No apps are available.</p>
        {% endif %}
        {% include 'timesheets/footer.html' %}
    </body>
</html>