<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container-fluid" name="title-box">
            <div class="container">
                <h1>{{ title }}</h1>
            </div>
        </div>
        {% include 'timesheets/navbar.html' %}
        <div class="container-fluid" name="body-box">
            <div class="container">
                {% if object_list %}
                    <div class="row">
                        <h4>
                            <div class="col-sm-3">{{ object_model|title }} ID</div>
                            <div class="col-sm-5">{{ object_model|title }} Name</div>
                            <div class="col-sm-2">Total Hours</div>
                        </h4>
                    </div>
                    {% for object in object_list %}
                        <div class="row">
                            <a href="/timesheet/{{object_model}}/{{ object.id }}/">
                            <h4>
                                <div class="col-sm-3">{{ object.id }}</div>
                                <div class="col-sm-5">{{ object.description }}</div>
                                <div class="col-sm-2">{{ object.total }}</div>
                            </h4>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    No items are available are available.
                {% endif %}
            </div>
        </div>
    </body>
</html>