<div class="container-fluid" name="footer-box">
    <div class="container" name="navbar-box">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
        <li><a href="{% url 'timesheets:index' %}">Time Entry</a></li>
        <li><a href="{% url 'timesheets:report' %}">This Month</a></li>
        <li><a href="{% url 'timesheets:adhocs' %}">Adhoc</a></li>
        <li><a href="{% url 'timesheets:apps' %}">Apps</a></li>
        <li><a href="{% url 'timesheets:employees' %}">Employees</a></li>
        <li><a href="{% url 'timesheets:defects' %}">Defects</a></li>
        <li><a href="{% url 'timesheets:tasks' %}">Tasks</a></li>
        </ul>
    </nav>
    </div>
</div>
